@model StableManager.Models.StableDetails

@{
    ViewData["Title"] = "Stable Information";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />

    <input type="hidden" asp-for="StableDetailsID" />
    <h4>Stable Details</h4>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StableName)</label>
            <input disabled="" asp-for="StableName" class="form-control" id="disabledInput" />
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.TaxNumber)</label>
            <input disabled="" asp-for="TaxNumber" class="form-control" id="disabledInput" />
        </div>
    </div>
    <hr />
    <h4>Stable Address</h4>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StableAddress)</label>
            <input disabled="" asp-for="StableAddress" class="form-control" id="disabledInput" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StableCity)</label>
            <input disabled="" asp-for="StableCity" class="form-control" id="disabledInput" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StableProvState)</label>
            <input disabled="" asp-for="StableProvState" class="form-control" id="disabledInput" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StablePostalCode)</label>
            <input disabled="" asp-for="StablePostalCode" class="form-control" id="disabledInput" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StableCountry)</label>
            <input disabled="" asp-for="StableCountry" class="form-control" id="disabledInput" />
        </div>
    </div>
    <hr />
    <h4>Stable Contact</h4>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.ContactName)</label>
            <input disabled="" asp-for="ContactName" class="form-control" id="disabledInput" />
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StableEmail)</label>
            <input disabled="" asp-for="StableEmail" class="form-control" id="disabledInput" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="control-label" for="disabledInput">@Html.DisplayNameFor(model => model.StablePhone)</label>
            <input disabled="" asp-for="StablePhone" class="form-control" id="disabledInput" />
        </div>

    </div>



    <div class="row">
        <div class="container-fluid action-buttons">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.StableDetailsID">Edit</a>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid pull-right section-modifiedby">
            <strong>@Html.DisplayNameFor(model => model.ModifiedOn) : </strong>
            @Html.DisplayFor(model => model.ModifiedOn)
            <br />
            <strong>@Html.DisplayNameFor(model => model.ModifierUserID) : </strong>
            @Html.DisplayFor(model => model.ModifierUserID)
        </div>
    </div>


</div>

<script language="javascript">
    var menuItem = document.getElementById("StableDetails").className = "active";
</script>


