@model StableManager.Models.Boarding

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}


<h2>@ViewBag.Title</h2>



<div>
    <hr />
    <input type="hidden" asp-for="BoardingTypeID" />
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="AnimalID" class="control-label"></label>
                <select disabled="" asp-for="AnimalID" class="form-control" asp-items="ViewBag.AnimalID"></select>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="BillToUserID" class="control-label"></label>
                <select disabled="" asp-for="BillToUserID" class="form-control" asp-items="ViewBag.BillToUserID"></select>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="BoardingTypeID" class="control-label"></label>
                <select disabled="" asp-for="BoardingTypeID" class="form-control" asp-items="ViewBag.BoardingTypeID"></select>
            </div>
        </div>
    </div>
    <hr />
    <h4>Boarding dates for billing</h4>
    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="StartedBoard" class="control-label"> Started On</label> <br />  (MM/DD/YYYY)
                <input type="date" disabled="" asp-for="StartedBoard" class="form-control date-selection-correction" />
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label asp-for="EndedBoard" class="control-label">Ended On</label> (Leave Blank for ongoing) <br /> (MM/DD/YYYY)
                <input type="date" disabled="" asp-for="EndedBoard" class="form-control date-selection-correction" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid action-buttons">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.BoardingID">Edit</a>
            <a class="btn btn-default" asp-action="Index">Back</a>
        </div>
    </div>


    <div class="row">
        <div class="container-fluid pull-right section-modifiedby">
            <strong>@Html.DisplayNameFor(model => model.ModifiedOn) : </strong>
            @Html.DisplayFor(model => model.ModifiedOn)
            <br />
            <strong>@Html.DisplayNameFor(model => model.ModifierUserID) : </strong>
            @Html.DisplayFor(model => model.ModifierUserID)
        </div>
    </div>

</div>


<script language="javascript">
    var menuItem = document.getElementById("ManageBoardings").className = "active";
</script>


