@model IEnumerable<StableManager.Models.LessonToUsers>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifierUserID)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstructorUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifierUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorUser.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LessonToUsersID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LessonToUsersID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LessonToUsersID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
