@model IEnumerable<StableManager.Models.Transaction>

@{
    ViewData["Title"] = "Transaction History";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
    double RunningTotal = 0;
}

<h2>@ViewBag.Title</h2>
<h4>All Transactions</h4>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionMadeOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAdditionalDescription)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCharged.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.AnimalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType.TransactionTypeName)
            </td>
            <td class="@( item.TransactionValue < 0 ? "Negative-Value" : "")">
                $@item.TransactionValue.ToString("0.00")
                @{RunningTotal += item.TransactionValue;}
            </td>
            <td>
                @item.TransactionMadeOn?.ToString("MMMM dd, yyyy")
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAdditionalDescription)
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="pull-right">
    <strong> Transaction Total: </strong> <span style="@(@RunningTotal < 0 ? "color:red": "")"> $@RunningTotal.ToString("0.00")</span>
</div>

<script language="javascript">
    var menuItem = document.getElementById("ManageTransactions").className = "active";
</script>