@model StableManager.Models.AnimalUpdates

@{
    ViewData["Title"] = "Delete Update";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<h4>Are you sure you want to delete this?</h4>
<hr />


<div class="form-group">
    <form asp-action="DeleteUpdate">
        <input type="hidden" asp-for="AnimalUpdatesID" />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label asp-for="AnimalID" class="control-label"></label>
                    <select disabled="" asp-for="AnimalID" class="form-control" asp-items="ViewBag.AnimalID"></select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input disabled="" asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                    <strong>Performed </strong><label asp-for="UserBy" class="control-label"></label>
                    <input disabled="" asp-for="UserBy" class="form-control" />
                    <span asp-validation-for="UserBy" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                    <label asp-for="DateOccured" class="control-label"></label> (MM/DD/YYYY)`
                    <input type="date" disabled="" asp-for="DateOccured" class="form-control  date-selection-correction" />
                    <span asp-validation-for="DateOccured" class="text-danger"></span>
                </div>
            </div>


        </div>

        <input type="submit" value="Delete" class="btn btn-primary" />
        <a class="btn btn-default" asp-controller="Animal" asp-action="MyAnimalDetails" asp-route-id="@Model.AnimalID">Back</a>
    </form>
</div>

<div class="row">
    <div class="container-fluid pull-right section-modifiedby">
        <strong>@Html.DisplayNameFor(model => model.ModifiedOn) : </strong>
        @Html.DisplayFor(model => model.ModifiedOn)
        <br />
        <strong>@Html.DisplayNameFor(model => model.ModifierUserID) : </strong>
        @Html.DisplayFor(model => model.ModifierUserID)
    </div>
</div>





<script language="javascript">
    var menuItem = document.getElementById("MyHorses").className = "active";
</script>
