@model StableManager.Models.AnimalUpdates

@{
    ViewData["Title"] = "Edit Update";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}

<h3>@ViewBag.Title</h3>

<div>
    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AnimalUpdatesID" />
        <input type="hidden" asp-for="AnimalID" />
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group">
                    <label asp-for="AnimalID" class="control-label"></label>
                    <select disabled="" asp-for="AnimalID" class="form-control" asp-items="ViewBag.AnimalID"></select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                    <strong>Performed </strong><label asp-for="UserBy" class="control-label"></label>
                    <input asp-for="UserBy" class="form-control" />
                    <span asp-validation-for="UserBy" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="form-group">
                    <label asp-for="DateOccured" class="control-label"></label> (MM/DD/YYYY)
                    <input type="date" asp-for="DateOccured" class="form-control  date-selection-correction" />
                    <span asp-validation-for="DateOccured" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a class="btn btn-default" asp-controller="Animal" asp-action="MyAnimalDetails" asp-route-id="@Model.AnimalID">Back</a>
        </div>

        <div class="row">
            <div class="container-fluid pull-right section-modifiedby">
                <strong>@Html.DisplayNameFor(model => model.ModifiedOn) : </strong>
                @Html.DisplayFor(model => model.ModifiedOn)
                <br />
                <strong>@Html.DisplayNameFor(model => model.ModifierUserID) : </strong>
                @Html.DisplayFor(model => model.ModifierUserID)
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script language="javascript">
    var menuItem = document.getElementById("MyHorses").className = "active";
</script>




