@model IEnumerable<StableManager.Models.BoardingType>

@{
    ViewData["Title"] = "Boarding Types";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoardingTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardingTypeNameShort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardingTypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardingPrice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BoardingTypeID">@Html.DisplayFor(modelItem => item.BoardingTypeName)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BoardingTypeID">@Html.DisplayFor(modelItem => item.BoardingTypeNameShort)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BoardingTypeID">@Html.DisplayFor(modelItem => item.BoardingTypeDescription)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BoardingTypeID">@Html.DisplayFor(modelItem => item.BoardingPrice)</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script language="javascript">
    var menuItem = document.getElementById("ManageBoardingTypes").className = "active";
</script>
