@model IEnumerable<StableManager.Models.Bill>

@{
    ViewData["Title"] = "Billing - History";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Current Bills", "ManageCurrent") |
    @Html.ActionLink("Bills History", "ManageHistory") |
    @Html.ActionLink("Add Bill", "Create")
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.BillNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillCreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDueOn)
            </th>
            <th>
                Current Due
            </th>
            <th>
                Past Due
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillTotalAmountDue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.BillNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @item.BillCreatedOn.ToString("MMMM dd, yyyy")
            </td>
            <td>
                @item.BillDueOn.ToString("MMMM dd, yyyy")
            </td>

            <td>
                $ @item.BillCurrentAmountDue.ToString("0.00")
            </td>
            <td>
                $ @item.BillPastDueAmountDue.ToString("0.00")
            </td>
            <td>
                $ @item.BillTotalAmountDue.ToString("0.00")
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.BillID">Edit</a> |
                <a asp-action="ViewBill" asp-route-id="@item.BillID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script language="javascript">
    var menuItem = document.getElementById("ManageBills").className = "active";
</script>