@model IEnumerable<StableManager.Models.AnimalHealthUpdates>

@{
    ViewData["Title"] = "Health Updates";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOccured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBy)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.AnimalHealthUpdatesID">@Html.DisplayFor(modelItem => item.Animal.AnimalName)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AnimalHealthUpdatesID">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AnimalHealthUpdatesID">@Html.DisplayFor(modelItem => item.Description)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AnimalHealthUpdatesID">@Html.DisplayFor(modelItem => item.DateOccured)</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AnimalHealthUpdatesID">@Html.DisplayFor(modelItem => item.UserBy)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalHealthUpdatesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalHealthUpdatesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalHealthUpdatesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
